@import "bower_components/bootstrap/less/bootstrap.less";

footer {
  background-color: @gray-lighter;
  margin: 20px 0px;
  padding: 20px 0px;
}

.see-also {
  margin-bottom: 0px;
}

.see-also img {
  height: 30px;
}
