<!DOCTYPE html>
<html lang="en"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# eikeonns: http://ogp.me/ns/apps/eikeonns#"
>
  <head>
    <meta charset="utf-8">
    <title>{{with .Title}}{{.}} « {{end}}Daniel Krech</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="{{.Title}}"/>
    <meta property="og:site_name" content="Daniel Krech"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="fb:admins" content="756782588"/>{{with .Recipe}}
    <script type="text/javascript">
       function postCook()
       {
          FB.api('/me/eikeonns:cook' +
                       '?recipe=http://www.eikeon.com/recipe/{{.Id}}/','post',
                       function(response) {
               if (!response || response.error) {
                       alert('Error occured');
               } else {
                   alert('Post was successful! Action ID: ' + response.id);
               }
          });
       }
    </script>
    <meta property="fb:app_id" content="255665227781659">
    <meta property="og:url" content="http://www.eikeon.com/recipe/{{.Id}}/"/>
    <meta property="og:type" content="eikeonns:recipe" />{{with .Photo}}
    <meta property="og:image" content="http://www.eikeon.com{{.}}"/>{{end}}
    <meta property="og:description"
          content="{{.Description}}"/>{{end}}
    <link href="/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
      FB.init({
        appId:'255665227781659', cookie:true,
        status:true, xfbml:true, oauth:true
      });
    </script>
    <div class="navbar navbar-fixed">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Daniel Krech</a>
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/recipes/">Recipes</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">{{with .NotFound}}
      <div>
	<h1>Page Not Found</h1>
      </div>{{end}}{{if .Recipes}}
      <div>
	<h1>{{.Title}}</h1>
	<div class="row">
          <div class="span4">
	    <ul>{{range .Recipes}}
	      <li><a href="/recipe/{{.Id}}/">{{.Name}}</a></li>{{end}}
	    </ul>
	  </div>
          <div class="span8">
	    <div id="recipeCarousel" class="carousel slide">
	      <div class="carousel-inner">{{range .Recipes}}{{if .Photo}}
		<div class="item">
		  <img itemprop="photo" src="{{.Photo}}"/>
		  <div class="carousel-caption">
		    <h4><a href="/recipe/{{.Id}}/">{{.Name}}</a></h4>
		  </div>
		</div>{{end}}{{end}}
	      </div>
	      <a class="carousel-control left" href="#recipeCarousel" data-slide="prev">&lsaquo;</a>
	      <a class="carousel-control right" href="#recipeCarousel" data-slide="next">&rsaquo;</a>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="span12">
            <fb:activity actions="eikeonns:cook"></fb:activity>
            <fb:add-to-timeline></fb:add-to-timeline>
	  </div>
	</div>
      </div>
{{end}}{{with .Recipe}}
      <article class="row" itemscope itemtype="http://data-vocabulary.org/Recipe">
	<div class="row">
	  <div class="span8">
	    <header>
              <h1 itemprop="name">{{.Name}} <small>Recipe</small></h1>
	    </header>
	    <p>{{.Description}}</p>
	  </div>
	  <div class="span4">
	    {{if .Photo}}<img itemprop="photo" src="{{.Photo}}"/>{{end}}
	    <fb:like href="http://www.eikeon.com/recipe/{{.Id}}/" send="true" width="176" show_faces="false" font=""></fb:like>
            <form>
	      <p><small>I'm <input class="btn" type="button" value="Cooking" onclick="postCook()" /> this recipe.</small></p>
            </form>
	  </div>
	</div>
	<hr>
	<div class="row">
	  {{if .Ingredients}}
	  <section class="span4 ingredients">
            <ul class="ingredients">{{range .Ingredients}}
	      <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient"><span itemprop="name">{{.}}</span></li>{{end}}
            </ul>
	  </section>{{end}}{{if .Directions}}
	  <div class="span8">
	    <section class="directions" itemprop="instructions">{{range .Directions}}
              <p>{{.}}</p>{{end}}
	    </section>
	  </div>
	  {{end}}
	</div>
	<hr>
	<div class="row">
	  <div class="span8">
	    {{if .Attributes}}
	    <dl class="attributes">{{range $key, $value := .Attributes}}
	      <dt>{{$key}}</dt>
	      <dd>{{$value}}</dd>{{end}}
	    </dl>{{end}}
          </div>
	  <div class="span4"></div>
	</div>
	<div class="row">
          <aside class="span12">
            <fb:comments href="http://www.eikeon.com/recipe/{{.Id}}/" num_posts="10"></fb:comments>
          </aside>
	</div>
      </article>{{end}}
      <footer>
	<p>&copy; Daniel Krech 2010-2012 食品当作药品</p>
      </footer>
    </div> <!-- /container -->
    <script src="/jquery.js"></script>
    <script src="/bootstrap-carousel.js"></script>
    <script>
      $(function () {
        $('#recipeCarousel').carousel()
        $('#recipeCarousel').carousel('next')
      })
    </script>
  </body>
</html>
