{{define "content"}}

<article class="home">
  <header style="background-image: url({{.Site.Static}}{{.Photo}});">
    <h1>Daniel Krech <small>eikeon</small></h1>
  </header>
  <p class="lead">{{.Description}}</p>

{{$Static := .Site.Static}}

  <ul>
    <li>
      <a href="/recipes/">
        <div style="background-image: url({{$Static}}/images/recipes.jpg);">
          <h1>Recipes</h1>
        </div>
      </a>
    </li>
    <li>
      <a href="/mediator/">
        <div {{if .Site}}style="background-image: url({{$Static}}/images/colock1.jpg);"{{end}}>
          <h1>Mediator <small>See what Medium stories people are talking about on Twitter.</small></h1>
        </div>
      </a>
    </li>
  </ul>

  <ul class="see-also">
    <li>
      <a href="http://nogiushi.com/">
	<img src="{{$Static}}/images/brain-gears-hi.png" class="img-rounded" alt="nogiushi" />
      </a>
    </li>
    <li>
      <a href="https://medium.com/@eikeon">
	<img src="{{$Static}}/images/medium.png" class="img-rounded" alt="eikeon @medium" />
      </a>
    </li>
    <li>
      <a href="https://github.com/eikeon">
	<img src="{{$Static}}/images/gh.jpg" class="img-rounded" alt="eikeon @github"/>
      </a>
    </li>
    <li>
      <a href="https://facebook.com/eikeon">
	<img src="{{$Static}}/images/FB-f-Logo__blue_512.png" class="img-rounded" alt="eikeon @facebook"/>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/eikeon">
	<img src="{{$Static}}/images/twitter-bird-light-bgs.png" class="img-rounded" alt="eikeon @twitter"/>
      </a>
    </li>
    <li>
      <a href="https://flipboard.com/section/marvin-bRwcpK">
	<img src="{{$Static}}/images/flipboard.png" class="img-rounded" alt="marvin @flipboard"/>
      </a>
    </li>
  </ul>
{{end}}
