{{define "content"}}{{with .Recipe}}
<article class="recipe" itemscope itemtype="http://data-vocabulary.org/Recipe">
  <header{{if .Photo}} style="background-image: url({{.Photo}});"{{end}}>
    <h1 itemprop="name">{{.Name}} <small>Recipe</small></h1>
    {{if .Photo}}<img itemprop="photo" src="{{.Photo}}" class="img-rounded"/>{{end}}
  </header>
  <p class="lead">{{.Description}}</p>{{if .Ingredients}}
  <div class="main">
  <section class="ingredients">
    <h1>Ingredients</h1>
    <ul class="ingredients">{{range .Ingredients}}
      <li itemprop="ingredient" itemscope itemtype="http://data-vocabulary.org/RecipeIngredient"><span itemprop="name">{{.}}</span></li>{{end}}
    </ul>
  </section>{{end}}{{if .Directions}}
  <section class="directions" itemprop="instructions">
    <h1>Directions</h1>{{range .Directions}}
    <p>{{.}}</p>{{end}}
  </section>{{end}}
  </div>{{if .Attributes}}
  <section class="attributes">
    <dl class="attributes">{{range $key, $value := .Attributes}}
      <dt>{{$key}}</dt>
      <dd>{{$value}}</dd>{{end}}
    </dl>
  </section>{{end}}
  <aside>
    <div>
      <div class="fb-like" data-send="true" data-width="176" data-show-faces="false"></div>
      <div class="fb-comments" data-href="http://www.eikeon.com/recipe/{{.Id}}/" data-num-posts="10"></div>
    </div>
  </aside>
</article>{{else}}
<article>
  <header>
    <h1>Recipe Not Found</h1>
  </header>
</article>
{{end}}{{end}}
