{{define "content"}}{{if .Recipes}}

<article class="recipes">
  <header style="background-image: url(/recipes.jpg);">
    <h1>Recipes</h1>
  </header>
  <ul class="list-unstyled">{{range .Recipes}}
    <li><a href="/recipe/{{.Id}}/"><div style="background-image: url({{.Photo}});"><h1>{{.Name}}</h1></div></a></li>{{end}}
  </ul>  
  <aside>
    <div>
      <div class="fb-activity" data-site="eikeon.com" data-action="likes, recommends" data-colorscheme="light" data-header="true"></div>
    </div>
  </aside>
  
</article>

{{end}}{{end}}
