{{define "content"}}
<div class="resume">
  <h1>Daniel Krech <small>Software Engineer</small></h1>

  <address class="small">
    <a href="mailto:eikeon@eikeon.com">eikeon@eikeon.com</a>
  </address>

  <h2>Experience</h2>

  <h3 class="title">Senior Software Engineer <span class="organization"><a href="http://www.loc.gov/">Library of Congress</a>, Repository Development Group</span> <span class="timeperiod"><time datetime="2007">2007</time> - present</span></h3>

  <p>
    Sorted many billions of tweets in the historic Twitter Archive while leading the adoption of emerging technologies by demonstrating their effective use. This involved an emerging algorithm, language, and computing paradigm; in particular, implemented a cache-oblivious sorting algorithm, <a href="https://github.com/eikeon/funnelsort">funnelsort</a>, in <a href="http://golang.org/" title="golang">Go</a> and utilized cloud computing.
  </p>

  <p>
    Communicated and applied expertise in web technologies, Python, and RDF by collaborating with colleagues on repository software design and development. Led technical direction on Chronicling America, a Website providing access to historic newspaper pages, and made key contributions to the World Digital Library project.
  </p>

  <p>
    Advocated for principles and processes that made the group stronger. Strengthened and improved the group's vision and relationships.
  </p>

  <h3 class="title">Faculty Research Assistant
    <span class="organization">University of Maryland, <a href="http://www.mindlab.umd.edu/">Maryland Information and Network Dynamics Lab</a></span>
    <span class="timeperiod"><time datetime="2003">2003</time> - <time datetime="2007">2007</time></span></h3>
      
  <p>
    Utilized <a href="https://github.com/eikeon/redfoot">Redfoot</a> to build a
    prototype for the <a href="http://www.policyawareweb.org/">Policy
      Aware Web</a> project and to
    build Profiles in Terror, a website built in order to explore how the Semantic
    Web can be used to analyze terrorist activity. Worked
    on <a href="http://www.w3.org/2000/10/swap/doc/cwm">cwm</a>
    / <a href="http://www.mindswap.org/~katz/pychinko/">pychinko</a>
    / <a href="https://github.com/RDFLib/rdflib">rdflib</a> convergence as part of
    the <a
	   href="http://www.w3.org/2000/10/swap/doc/plans.html">paw/cwm
      development effort</a>.
  </p>
      
  <p>
    Maintained an active community around RDFLib.
    Participated 
    in <a
	  href="http://www.w3.org/2001/sw/Europe/events/20031113-storage/">SWAD-Europe
      Workshop on Semantic Web Storage and Retrieval</a> to share
    lessons learned with other data storage implementors as well as other workshops and conferences.
  </p>

  <h3 class="title">Semantic Web Technologist <span class="organization">Eikco, LLC</span> <span class="timeperiod"><time datetime="2001">2001</time> - <time datetime="2003">2003</time></span></h3>
  
  <p>
    Created and developed <a href="https://github.com/RDFLib/rdflib">RDFLib</a>, the
    leading Python RDF library, and created a community around
    it. <!--Implemented an RDF/XML parser that is fully conformant to
	    latest working drafts and provided implementor feedback on the
	    drafts. Defined a TripleStore interface and extended it to define
	    an InformationStore interface, a TripleStore interface that
	    includes support for contexts. Implemented several different
	    TripleStores and InformationStores with various backends. -->
    Participated in the Semantic Web community by providing early
    implementor feedback on W3C specifications and building proof of
    concepts.
  </p>
  
  <p>
    As principal architect,
    developed <a href="https://github.com/eikeon/redfoot">Redfoot</a>, an
    application for collaborative information management. Defined a
    notion of hypercode; a marriage of code, metadata about the code,
    and the web. Redfoot and its applications are built upon this
    notion of hypercode.
  </p>
  
  <h3 class="title">Software Engineer / Technologist <span class="organization"><a href="http://www.bowstreet.com/">Bowstreet, Inc.</a></span> <span class="timeperiod"><time datetime="1998">1998</time> - <time datetime="2001">2001</time></span></h3>

  <p>
    Contributed to initial design of
    the <a
	   href="http://www.bowstreet.com/products/bowstreetfactory/index.html">Bowstreet
      Factory</a> by assessing XML technologies and prototyping select
    pieces of functionality. Evaluated and integrated several
    different XML parsers and XSLT processors into the
    product. Augmented the schema support by allowing for XDR and XSD
    schemas in addition to Bowstreet's proprietary schema format.
  </p>

  <p>
    Assisted company on advanced technology-related issues by tracking
    standards and technologies, communicating expertise, and providing
    guidance in the ongoing implementation of XML related
    functionality. Participated in a series of ebXML proof of concept
    events.
  </p>

  <h3 class="title">Consultant / Software Engineer <span class="organization"><a href="http://www.objectfx.com/">Object/FX</a> & Integrity Solutions</span> <span class="timeperiod"><time datetime="1996">1996</time> - <time datetime="1998">1998</time></span></h3>
  
  <p>
    Joined Object/FX as a consultant to bring Java experience to the
    company. Core developer on Java based geographical information
    systems product. Involved in set up of company's Java Development
    Environment, design discussions, implementation, and builds.
  </p>

  <p>
    Researched and evaluated Java related technologies for developing
    Java solutions. Implemented a Java applet interface to Integrity's
    internal time tracking system. Developed prototypes to demonstrate
    some of Java's potential applications for prospective clients. One
    such Java applet
    was TVIZ, a text
    visualization applet.
  </p> 
    
  <h3 class="title">Visiting Researcher <span class="organization"><a href="http://www-sfb288.math.tu-berlin.de/">Differential Geometry and Quantum Physics (Sonderforschungsbereich 288)</a></span> <span class="timeperiod"><time datetime="1995">1995</time></span></h3>

  <p>
    Explored uses of and assisted in the development
    of <a
	  href="http://page.mi.fu-berlin.de/polthier/articles/oorange/oorangePaper.ps.gz‎">Oorange</a>,
    an object oriented virtual laboratory for experimental
    mathematics. Also, implemented a VRML parser for Oorange.
  </p>

  <h3 class="title">Research Programmer <span class="organization"><a href="http://www.geom.umn.edu/">The Geometry Center</a></span> <span class="timeperiod"><time datetime="1991">1991</time> - <time datetime="1995">1995</time></span></h3>

  <p>
    Designed and implemented algorithms for finding curves and
    surfaces in spaces of n-dimension. Implemented one such algorithm,
    namely AGrid, as a
    Java applet. Helped set up and maintain The Geometry Center's
    World Wide Web
    server. Developed <a
			 href="http://www.geom.umn.edu/apps/">interactive web
      applications</a>.
  </p>

  <p>
    Ported and developed an Objective-C based NEXTSTEP interface
    for <a href="http://geomview.org/">Geomview</a>, an interactive
    program for viewing and manipulating geometric objects. Animator
    for <a href="http://www.geom.uiuc.edu/docs/outreach/oi/">Outside
    In</a>, a computer generated movie featured in Electronic Theatre
    at SIGGRAPH 94.
  </p>


  <h2>Skills & Expertise</h2>
  
  <ol class="list-unstyled list-inline">
    <li>Go</li>
    <li>Python</li>
    <li>Java</li>
    <li>Objective-C</li>
    <li>JavaScript</li>
    <li>C</li>
    <li>Scheme</li>
  </ol>
  <ol class="list-unstyled list-inline">
    <li>WWW</li>
    <li>HTTP</li>
    <li>REST</li>
    <li>Semantic Web</li>
    <li>Linked Data</li>
    <li>RDF</li>
  </ol>
  <ol class="list-unstyled list-inline">
    <li>Linux</li>
    <li>OS X</li>
    <li>Cloud Computing</li>
    <li>Distributed Systems</li>
  </ol>
  <ol class="list-unstyled list-inline">
    <li>Embedded Devices</li>
    <li>Sensors</li>
    <li>Natural Language Processing</li>
  </ol>

  <h2>Education</h2>

  <ul>
    <li><a href="http://www.umn.edu/">University of Minnesota</a>, Bachelor of Science in Mathematics, <time datetime="1994">1994</time></li>
  </ul>
  
  <h2>Awards</h2>

  <ul>
    <li>American High School Mathematics Examinations, The Mathematical Association of America Award for Outstanding Proficiency, <time datetime="1987">1987</time></li>
    <li>Qualified for AIME (typically achieved by fewer than 2% of all participants), <time datetime="1989">1989</time></li>
  </ul>

  <hr/>

  <p class="text-center">References Available Upon Request</p>

</div>

{{end}}
